.box{
  width: 100vw;
  height: 100vh ;
  padding-top: 80px ;
}
.header{
  position: absolute;
  width: 100% ;
  height: 80px ;
  left: 0;
  top: 0;
  background-color: cyan ;
}
.content{
  background-color: yellow;
  height: 100%;
}
